asgiref==3.8.1
backports.zoneinfo;python_version<"3.9"
certifi==2024.8.30
Django==4.2.16
django-cors-headers==4.4.0
django-environ==0.11.2
django-sslserver==0.22
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
pillow==10.4.0
PyJWT==2.9.0
python-decouple==3.8
python-http-client==3.3.7
sendgrid==3.6.5
sendgrid-django==4.2.0
sqlparse==0.5.2
typing-extensions==4.12.2
